@model StaticPagedList<FilmsCatalog.Models.Film>
@inject FilmsCatalog.Services.IUserPermissionsService UserPermissionsService
@{
    ViewData["Title"] = "Home Page";
}
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Bootstrap4.Core
<a type="button" asp-area="" asp-action="Create" class="btn btn-primary mb-3">Добавить фильм</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].RealeaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DirectorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealeaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DirectorName)
                </td>
                <td>
                    @if (UserPermissionsService.CanEditFilm(item))
                    {
                        <span><a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |</span>
                        <span><a asp-action="Details" asp-route-id="@item.Id">Details</a> |</span>
                        <span><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></span>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.Classic)




